{% extends 'base.html' %}

{% load bootstrap3 %}

{% block pageHeader %}Delete Recipe{% endblock %}

{% block content %}
	<form action="" method="post">
		{% csrf_token %}
		{{ form }}
		<p>Are you sure you want to delete the recipe <strong>{{ object }}</strong>?</p>
		{% url 'recipe_list' as cancel_url %}
		{% bootstrap_button "Cancel" href=cancel_url button_class='btn-primary' icon='ban-circle' %}
		{% bootstrap_button "Delete" button_type='submit' button_class='btn-danger' icon='trash' %}
	</form>
{% endblock %}